certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
configparser==4.0.2
crayons==0.3.0
DateTime==4.3
idna==2.9
pytz==2019.3
requests==2.23.0
selenium==3.141.0
urllib3==1.25.8
webdriver-manager==2.3.0
zope.interface==4.7.1
